@using HumanResources.Web.Models
@model EmployeeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Создание</title>
    </head>
    <body>
    <div>
        <h3>Создать сотрудника</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td>
                        <p>Фамилия:</p>
                    </td>
                    <td>@Html.EditorFor(model => model.Surname)</td>
                </tr>
                <tr>
                    <td>
                        <p>Имя:</p>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Отчество: </p>
                    </td>
                    <td>@Html.EditorFor(model => model.Patronymic)</td>

                </tr>
                <tr>
                    <td>
                        <p>Город: </p>
                    </td>
                    <td>@Html.DropDownListFor(model => model.CityId, ViewBag.CityList as SelectList)</td>
                </tr>
                <tr>
                    <td>
                        <p>Дата старта: </p>
                    </td>
                    <td>@Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "datepicker" } })</td>
                </tr>
                <tr>
                    <td>
                        <p>Дата увольнения: </p>
                    </td>
                    <td>@Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "datepicker" } })</td>
                </tr>
                <tr>
                    <td>
                        <p>Телефон: </p>
                    </td>
                    <td>@Html.EditorFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <td>
                        <p>Мобильный телефон: </p>
                    </td>
                    <td>@Html.EditorFor(model => model.MobilePhone)</td>
                </tr>
                <tr>
                    <td>
                        <p>Адрес: </p>
                    </td>
                    <td>@Html.EditorFor(model => model.Address)</td>
                </tr>
                <tr>
                    <td>
                        <p>Руководитель: </p>
                    </td>
                    <td>@Html.DropDownListFor(model => model.ManagerId, ViewBag.EmployeeList as SelectList)</td>
                </tr>
                <tr>
                    <td>
                        <p>Дата рождения: </p>
                    </td>
                    <td>@Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { @class = "datepicker" } })</td>
                </tr>
                <tr>
                    <td>
                        <p>Должность: </p>
                    </td>
                    <td>@Html.EditorFor(model => model.Position)</td>
                </tr>

                <tr><td colspan="2"><input type="submit" value="Сохранить"/> </td></tr>
            </table>
        </form>
    </div>
        <div>
            <p>@Html.ActionLink("К списку сотрудников", "Index")</p>
        </div>
    </body>
</html>
