
@{
    ViewBag.Title = "Сотрудники";
}
    <div>
        <h3>Сотрудники</h3>
        <table>
            <tr>
                <td><p>Номер</p></td>
                <td><p>Фамилия</p></td>
                <td><p>Имя</p></td>
                <td><p>Отчество</p></td>
                <td><p>Город</p></td>
                <td><p>Дата старта</p></td>
                <td><p>Дата увольнения</p></td>
                <td><p>Мобильный телефон</p></td>
                <td><p>Менеджер</p></td>
                <td><p>Дата рождения</p></td>
                <td><p>Должность</p></td>
                <td colspan="3"><p>Действия</p></td>
            </tr>
            @foreach (var b in ViewBag.Employees)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Surname</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Patronymic</p></td>
                    <td><p>@b.CityName</p></td>
                    <td><p>@b.StartDate.ToString("dd MMM yyyy")</p></td>
                    <td><p>@(b.EndDate != null ? b.EndDate.ToString("dd MMM yyyy") : "-")</p></td>
                    <td><p>@b.MobilePhone</p></td>
                    <td><p>@b.ManagerName</p></td>
                    <td><p>@(b.DateOfBirth != null ? b.DateOfBirth.ToString("dd MMM yyyy") : "-")</p></td>
                    <td><p>@b.Position</p></td>
                    
                    <td><p>@Html.ActionLink("Просмотр", "Display", new { id = b.Id })</p></td>
                    <td><p>@Html.ActionLink("Редактировать", "Edit", new { id = b.Id })</p></td>
                    <td><p>@Html.ActionLink("Удалить", "Delete", new { id = b.Id },
                            new { onclick = "return confirm('Удалить сотрудника с id = " + @b.Id + "?')" })</p></td>
                </tr>
            }
        </table>
        <p>@Html.ActionLink("Создать сотрудника", "Create")</p>
    </div>


